# ================================
# Python
# ================================
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# ================================
# Virtual Environment
# ================================
my_env/
.env/
venv/
.venv/

# ================================
# Jupyter Notebooks
# ================================
.ipynb_checkpoints/
*.nbconvert.ipynb

# ================================
# Data / Output / Logs
# ================================
*.log
*.dat
*.out
*.tmp
*.bak
*.csv
*.h5
*.pkl
*.pickle

# ================================
# OS / Editor Files
# ================================
.DS_Store
Thumbs.db
*.swp
*.swo
*.idea/
.vscode/
*.iml
*.zip
*.json
# ================================
# Specific project folders
# ================================
studies/tmp/
studies/output/
modules/tmp/
modules/output/

modules/tree_maker/
modules/xmask/
studies/scans/
studies/submission_files/
studies/optics/optics.zip
studies/optics/optics.zip
